<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197288978331-6slfcaahk7l52tohta4bg9393jndbidf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197288978331-6slfcaahk7l52tohta4bg9393jndbidf</string>
	<key>API_KEY</key>
	<string>AIzaSyBlPPdUQmgWFvl5bwdP-mxScO87TjiBYAA</string>
	<key>GCM_SENDER_ID</key>
	<string>197288978331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Kaleo.Chat.app</string>
	<key>PROJECT_ID</key>
	<string>grounded-pilot-347719</string>
	<key>STORAGE_BUCKET</key>
	<string>grounded-pilot-347719.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197288978331:ios:300bb6ef15d7735697e33e</string>
</dict>
</plist>